@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Basement Grotesque';
  src: url('./fonts/basement-grotesqueRegularRegular.woff2') format('woff2'),
      url('./fonts/basement-grotesqueRegularRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: white;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}



.btn-size {
  @apply text-xl md:text-3xl text-center w-9 h-9 md:w-12 md:h-12 hover:border-2 hover:rounded-full focus:border-2 focus:rounded-full;
}

.btn-quantity {
  @apply text-xl md:text-3xl 
}


.scrolling {
  
  animation: scrolling 25s linear infinite;
  user-select: none;
}

@keyframes scrolling {
  0% { transform: translateX(0);}
  100% { transform: translateX(-100%);}
}